<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DigiMed Login</title>
    <link rel="stylesheet" href="App.css"> 
</head>
<body>

    <div id="root">
        <div class="container">
            <h1 class="title">Welcome to DigiMed!</h1>
            <h2 class="subtitle">Login to your account.</h2>

            <input class="input" placeholder="Enter your user name" value="">
            <input class="input" placeholder="Enter your Password" type="password" value="">

            <a class="forgotPasswordText" href="/forgot-password">Forgot password?</a>
            <button class="button">Login</button>

            <a class="signupText" href="/signup">Don’t have an account? Sign up</a>
        </div>
    </div>

    <script src="bundle.js"></script>
</body>
</html>
