<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMRM Frontend</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .centered-button-container {
            display: flex;
            justify-content: center; /* Centers horizontally */
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Records Management</h1>
        </header>
        <main class="main">
            <p></p>
            <div class="button-container">
                <!-- Medical Conditions -->
                <button class="btn" id="medicalConditionsBtn">Medical Conditions</button>
                <!-- Medical Tests -->
                <button class="btn" id="medicalTestsBtn">Medical Tests</button>
                <!-- Treated By -->
                <button class="btn" id="treatedByBtn">Visits History</button>
            </div>
        </main>
    </div>
    <div class="centered-button-container">
        <button class="btn back-btn" onclick="history.back()">Back</button>
    </div>
    <script>
        // Prepare the URL dynamically using Django context variables
        const role = "{{ role }}";
        const nat_id = "{{ nat_id|default:'' }}"; // Use default to handle undefined variables
        const doctor_id = "{{ doctor_id|default:'' }}";

        // Event listener for Medical Conditions
        document.getElementById('medicalConditionsBtn').addEventListener('click', function () {
            let url = `/medical_conditions_page/?role=${role}`;
            if (role === 'patient') {
                url += `&nat_id=${nat_id}`;
            } else if (role === 'doctor') {
                url += `&doctor_id=${doctor_id}`;
            }
            window.location.href = url;
        });

        // Event listener for Medical Tests
        document.getElementById('medicalTestsBtn').addEventListener('click', function () {
            let url = `/medical_tests_page/?role=${role}`;
            if (role === 'patient') {
                url += `&nat_id=${nat_id}`;
            } else if (role === 'doctor') {
                url += `&doctor_id=${doctor_id}`;
            }
            window.location.href = url;
        });

        // Event listener for Treated By
        document.getElementById('treatedByBtn').addEventListener('click', function () {
            let url = `/treated_by_page/?role=${role}`;
            if (role === 'patient') {
                url += `&nat_id=${nat_id}`;
            } else if (role === 'doctor') {
                url += `&doctor_id=${doctor_id}`;
            }
            window.location.href = url;
        });
    </script>
</body>
</html>